body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 95%;
  margin: 0 auto;
}

.title {
  color: black;
  text-align: center;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.option {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}

.active-option {
  background-color: lightsalmon;
  border-color: lightsalmon;
  color: black;
}

.granularity-options,
.visability-options {
  margin: 0 50px 20px 0;
  display: inline-block;
}

.visability-options {
  display: inline-block;
}